apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: consumer
  name: consumer
spec:
  ports:
  - port: 8082
    protocol: TCP
    targetPort: 8082
  selector:
    app: consumer
  type: ClusterIP
status:
  loadBalancer: {}
